packer_cache/
packerhttp/
**/*.pkrvars
**/authorized_keys
**/*.pkrvars.hcl
packerlog.txt
.vscode/*
**/rke2-servers/*
**/templates/ubuntu/rke2/files/agent-config.yaml
**/templates/ubuntu/rke2/files/server-config.yaml