vm_name = "ubuntu_vm"
cpus = 2
memory = 2048
disk_size = 21440
username = "ubuntu"
password = "ubuntu"
output_dir = "d:\\Virtual Machines\\"
files_dirs = ["./templates/ubuntu/basic/files/"]
ms_agent_org_url = ""
ms_agent_pat = ""
ms_agent_pool = "Default"
ms_agent_url = "https://vstsagentpackage.azureedge.net/agent/2.192.0"
ms_agent_filename = "vsts-agent-linux-x64-2.192.0.tar.gz"
