cpus = "2"
memory = "8192"
username = "Administrator"
password = "password"
vmcx_path = "d:\\base-images\\win-2022-base"
baseVmName = "win-2022-base"
switch  = "vSwitch"

domainUser = "Administrator@mydomain.net"
domainPassword = "domainPassword"
domainName = "mydomain.net"

output_dir = "d:\\test\\"
vm_name = "testVm"


