cpus = 2
disk_size = 21440
files_dirs = ["./templates/ubuntu/basic/files/"]
provisioning_scripts = ["./templates/ubuntu/basic/basic-prov.sh"]
memory = 2048
output_dir = "./output"
username = "ubuntu"
password = "ubuntu"
vm_name = "ubuntu_vm"
