{
    "vm_name": "k8-base",
    "cpus": "2",
    "memory": "6144",
    "disk_size": "81920",
    "username": "ubuntu",
    "password": "ubuntu",
    "files_dirs": "./templates/ubuntu/basic/files/,./templates/ubuntu/containerd/files/,./templates/ubuntu/k8node/files/",
    "provisioning_scripts": "./templates/ubuntu/basic/basic-prov.sh,./templates/ubuntu/containerd/containerd-prov.sh,./templates/ubuntu/k8node/k8node-prov.sh"
}